<!DOCTYPE html>
<html lang="en">
<head>

    <title>Login - Chronos</title>
    {% extends "__style__.html" %}

    {% block content %}
</head>
<body>
     <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center">Accesso amministratore</h1>
				        <h4 class="card-title text-center">Inserisci il tuo Token amministratore</h4>		
                        <form method="POST" action="/verifica_password" class="mt-4">
                            <div class="mb-3">
                                <input type="password" name="password" class="form-control" placeholder="Utilizza il tuo token." required>
                            </div>
									<p><i><b>⚠️ Ogni accesso viene notificato via e-mail al responsabile d'aula.</b></i></p>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 100px;"></div>
</body>
{% endblock %}
</html>