<!DOCTYPE html>
<html lang="en">
<head>
    <title>Prenotazione confermata - Chronos</title>
    {% extends "__style__.html" %}

    {% block content %}
</head>
<body>
    <div class="container mt-5">
        <h1><b>Prenotazione confermata! 😀</b></h1>
        <hr>
		
		        <p>La tua prenotazione è stata confermata, ti è stata inviata una mail di riepilogo</p>
				<p><b>Non hai ricevuto la mail?</b> Contattaci all'indirizzo <a href="mailto:{{indirizzo_responsabile}}">{{indirizzo_responsabile}} </a>comunicando Nome, Cognome e Classe/Gruppo di studenti.</p>
				
		 <hr>
				
				<h5><b>Cosa fare adesso?</b></h5> 				
				<p>Recati in laboratorio il giorno della prenotazione e per sbloccare i computer utilizza le credenziali che ti sono state inviate via e-mail.</p>
				<p><b>Ricorda!</b> Le credenziali saranno disattivate <u>automaticamente</u> al termine della tua ora di prenotazione, non salvare nulla sul PC in quanto <u>tutto verà eliminato e non sarà possibile recuperarlo.</u></p>
		 
    </div>
	<div style="height: 100px;"></div>
</body>

{% endblock %}
</html>